.header {
  background-color: #fff159;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  gap: 10px;
}